/* style.css */

/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo h1 {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-btn {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 30px;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos específicos para a página de Escala de Sobreaviso */
.header {
    background-color: #4CAF50;
}

.header h1 {
    margin: 0;
    color: #fff;
}

.responsavel {
    margin-bottom: 20px;
}

.responsavel input {
    margin-right: 10px;
}

.responsavel button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.responsavel button:hover {
    background-color: #0056b3;
}
